<div aria-current="true">
    <div>

    <div>
        <small>By {{user.username}} on {{format_date created_at}}:</small>
        <div>
            <h5>{{title}}</h5>
        </div>
        {{#if comments.length}}
        <small>{{comments.length}} comment(s)</small>
        {{/if}}
    </div>
    <div>
        <a href="/post/{{id}}">View</a>
        <a href="/dashboard/edit/{{id}}">Edit Post</a>
    </div>
    </div>

</div>