{{#if posts.length}}
<div>
  {{#each posts as |post|}}
  <a href="/post/{{post.id}}" aria-current="true">
    <small>By {{post.user.username}} on {{format_date post.created_at}}:</small>
    <div>
      <h5>{{post.title}}</h5>
    </div>
    {{#if post.comments.length}}
    <small>{{post.comments.length}} comment(s)</small>
    {{/if}}
  </a>
  {{/each}}
</div>
{{else}}
<h1>There are no posts in the blog!</h1>
<h3>Login or sign up and then make a post!</h3>
{{/if}}